---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
const randomId = Math.floor(Math.random() * 151) + 1;
const pokeRes = await fetch(`https://pokeapi.co/api/v2/pokemon/${randomId}`);
const pokemon = await pokeRes.json();

const yeRes = await fetch("https://api.kanye.rest/");
const yeData = await yeRes.json();

const wPage = Math.floor(Math.random() * 15);
const weaponRes = await fetch(
  `https://eldenring.fanapis.com/api/weapons?limit=20&page=${wPage}`,
);
const weaponData = await weaponRes.json();
const randomWeapon =
  weaponData.data[Math.floor(Math.random() * weaponData.data.length)];

const aPage = Math.floor(Math.random() * 25);
const armorRes = await fetch(
  `https://eldenring.fanapis.com/api/armors?limit=20&page=${aPage}`,
);
const armorData = await armorRes.json();
const randomArmor =
  armorData.data[Math.floor(Math.random() * armorData.data.length)];
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">salve</div>
    <div class="text-5xl font-bold">Ao Tian</div>
    <div class="text-3xl py-3 font-bold">no longer @ UC Berkeley</div>
    <div class="py-2">
      <!-- <text class="text-lg">
        I am a
        <b>Dog</b> and <b>Distributed Dog</b>. Dog.
      </text> -->
    </div>
    <div class="mt-8">
      <a class="btn" href="https://github.com/4ot1an" target="_blank">
        a GitHub</a
      >
      <!-- <a href="/cv" class="btn btn-outline ml-5"> View Resume </a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <!-- <HorizontalCard
    title="Milvus Vector Search Client"
    img="/milvus_project.webp"
    desc="A custom TypeScript client implementation for managing vector embeddings and high-performance similarity searches."
    url="https://github.com/4ot1an"
    badge="TypeScript"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Portfolio Site"
    img="/portfolio_project.webp"
    desc="My personal corner of the web (yggdrasil0t.xyz), built with Astro, TailwindCSS, and deployed on Vercel."
    url="#"
    badge="Astro"
  /> -->
  <!-- <div class="divider my-0"></div> -->
  <HorizontalCard
    title="Coming Soon..."
    img="/post_img.webp"
    desc="Soon coming..."
    url="#"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Unnecessary APIs</div>
  </div>

  <HorizontalCard
    title={`Today's Pokémon: ${pokemon.name}`}
    img={pokemon.sprites.other["official-artwork"].front_default}
    desc={`A random fetch test. This Pokémon's base experience is ${pokemon.base_experience}.`}
    url="/projects"
    badge="API Test"
  />

  <HorizontalCard
    title="Tronald Dump"
    img="/post_img.webp"
    desc={`"${yeData.quote}" - Bi Joden`}
    url="https://kanye.rest/"
    badge="Wisdom"
  />

  <HorizontalCard
    title={`Weapon Drop: ${randomWeapon.name}`}
    img={randomWeapon.image ||
      "https://placehold.co/600x400/111827/ef4444?font=monospace&text=No+Image"}
    desc={`Category: ${randomWeapon.category} | Weight: ${randomWeapon.weight}.`}
    url="https://eldenring.fanapis.com/"
    badge="Right Hand"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title={`Armor Drop: ${randomArmor.name}`}
    img={randomArmor.image ||
      "https://placehold.co/600x400/111827/3b82f6?font=monospace&text=No+Image"}
    desc={`Category: ${randomArmor.category} | Weight: ${randomArmor.weight}.`}
    url="https://eldenring.fanapis.com/"
    badge="Protection"
  />
  <div class="divider my-0"></div>
</BaseLayout>
